body {
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #222831;
  margin: 0;
  user-select: none;
}

div {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 70px;
  color: #eeeeee;
  margin: 0;
  padding: 0;
}

.h1 {
  padding: 0 69px;
}

#canvas {
  border: 1px solid #eeeeee;
  display: block;
  margin: 0;
}
